.app {
  display: flex;
  position: relative;
  overflow-x: auto;
}


.sidebar {
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0)); /* Initial transparent background */
  transition: background-color 0.3s ease; /* Smooth transition for background color */

}

.hover-grid {
 margin-left: 1vh;
  position: absolute;
  top: 0;
  left: 10vh;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1; /* hover grid appears above main content */
  transition: background-color 0.3s ease;
}

.sidebar:hover {
  background-color: rgba(0, 0, 0, 1); /* Black background on hover */
}


.main-content {
  
  background-color: #000000; 
  height: 100vh;
  width: 100%; /* Adjust width to account for sidebar and hover grid */
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1; /* Ensure main content is behind sidebar and hover grid */
}
