body {
  margin: 0;
  padding: 0;
}
.app {
  display: grid;
  grid-template-columns: 200px 1fr; /* Sidebar width and main content area */
  height: 100vh; /* Full height of the viewport */
}

.sidebar {
  z-index: 1;
  background-color: #333;
  color: #fff;
  grid-column: 1 / 2;
  width: fit-content;
}

.main-content {
  z-index: 0;
  padding: 20px;
  grid-column: 2 / 3; 
}
